<th>
  <label for="gf_paymentspring_{{ id }}">{{ _e(label) }}</label>{{gform_tooltip("gf_paymentspring_" ~ id)}} 
</th>
<td>
  <input id="gf_paymentspring_{{ id }}" name="gf_paymentspring_account[{{ id }}]" style="width:350px" value="{{ options[id] }}" />
</td>
